@import "../styles/variables.scss";


.leftData {
  background-color: $dark-grey-background-opacity;
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 73%;
  margin-bottom: 1.2%;
  margin-left: 2vh;
  position:absolute;
  left: 0;
  bottom: 0;
  padding: 2px;
  overflow: scroll;
  overflow-x: hidden;
  color: white;
  border-radius: 0px 15px 15px 0px;
direction: rtl;
  &::-webkit-scrollbar {
    width: 6px;
  }
  
 &::-webkit-scrollbar-track {
    background: $dark-grey-background-opacity;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $accent;   
    border-radius: 5px;
  }
  & {
    scrollbar-width: thin;
    scrollbar-color: $dark-grey-background-opacity $white-inactive;
  }

  .dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    background: $accent-opacity-dark;
    width: 80%;
    height: 300px;
    border-radius: 20px;
    box-shadow: 13px 15px 15px -3px rgba(0, 0, 0, 0.404);
    margin: 1vh .4vh 1vh 9vh;
    transition: 0.3s;

    &:hover {
      box-shadow: 20px 20px 10px -2px rgba(0, 0, 0, 0.74);
      background-color: $accent-opacity;
      color: $black-active;
    }

    .wordCloud {
      // display:flex;
    }
  }
}