body {

    background-color: #bfebc5;
}
@media only screen and (min-width: 375px) {
  .App {
    text-align: center;
    background-color: #bfebc5;
  }

  // Home Page
  .MoodsPage {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    .Moods {
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    .MoodsTop {
      display: flex;
      justify-content: center;
      margin-top: 80px;
      margin-bottom: 30px;
    }

    .MoodsBottom {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
    }

    .MoodBox {
      margin-left: 40px;
      margin-right: -30px;
      padding: 20px;
      height: 100px;
      width: 100px;
    }

    .Mood {
      width: 190px;
      height: 150px;
      
    }

    h2 {
      margin-top: -2px;
      padding-left: 40px;
      font-size: 1.2rem;
      color: #659b6c;
    }

    a:link,
    a:visited {
      background-color: #6259a1;
      color: white;
      padding: 14px 25px;
      width: auto;
      margin: 10px;
      border-radius: 5px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s ease-in-out;
    }

    a:hover,
    a:active {
      background-color: #4d4580;
      transform: scale(1.1);
      box-shadow: 1px 4px 5px rgb(172, 172, 172);
    }

    .MoreResources {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  // NavBar
  .NavBar {
    display: flex;
    justify-content: space-between;
    height: 75px;
    position: fixed;
    background-color: #4d4580;

    .Buttons {
      display: flex;
    }
    a{
      text-decoration: none;
      color: white;
    }
  }

  //Chosen Resource
  .Resources {
    margin-top: 110px;
    .resource {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 330px;
      margin-left: 38px;
      box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.349);
      margin-top: 20px;
      padding-bottom: 5px;
      height: auto;
      color: white;
      background-color: #659b6c;
      border-radius: 10px;
    }

    h1 {
      color: #659b6c;
    }

    .Title {
      color: white;
    }

    h3 {
      margin-top: -20px;
      opacity: 0.8;
    }

    .Description {
      padding: 20px 5px 5px 10px;
      opacity: 1;
    }

    button {
      background-color: transparent;
      border-color: transparent;
      padding-bottom: 20px;
    }

    a {
      text-decoration: none;
      color: #659b6c;
      font-weight: bolder;
      border: 1px solid rgb(150, 150, 150);
      margin: 10px 70px 0;
      padding: 8px;
      border-radius: 5px;
      background-color: white;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
      transition: all 0.2s ease-in-out;
    }

    a:hover {
      transform: scale(1.1);
      box-shadow: 1px 1px 5px rgb(39, 39, 39);
    }

    .Heart {
      color: white;
      padding-left: 87%;
      margin-top: -30px;
      font-size: 1.4rem;
    }
  }

  // Profile Page
  .UserProfile {
    .NameAndPhoto {
      margin-top: 40px;
    }
    .NameAndEdit {
      display: flex;
      margin-left: 25%;
    }
    .UserName {
      margin-top: -5px;
    }
    .EditIcon {
      padding-left: 10px;
      opacity: 0.6;
      font-size: 1.1rem;
      margin-bottom: 2px;
    }

    hr {
      width: 70%;
    }

    .ResourceBox {
      display: flex;
      flex-direction: column;
      width: 330px;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 20px;
      margin-bottom: 30px;
      padding-bottom: 20px;
      height: auto;
      background-color: #659b6c;
      border: 1px solid lightgrey;
    }

    h4 {
      color: white;
      margin-bottom: -15px;
      margin-top: 10px;
    }
    h6 {
      color: white;
      opacity: 0.7;
    }

    h5 {
      color: white;
      margin: 1px 1px;
    }
    a {
      text-decoration: none;
      color: #61c3d4;
      font-weight: 600;
      border: 1px solid rgb(150, 150, 150);
      margin: 10px 70px 0;
      padding: 10px;
      background-color: white;
      transition: all 0.2s ease-in-out;
    }
    a:hover {
      transform: scale(1.1);
      box-shadow: 1px 1px 5px rgb(39, 39, 39);
    }
    .Heart {
      color: #4d4580;
      padding-left: 87%;
      margin-top: -30px;
      font-size: 1.4rem;
    }
    .NewNote {
      margin-left: 40px;
      width: 70%;

      .SubmitNote {
        background-color: #61c3d4;
        text-decoration: none;
        border-color: white;
        color: white;
        font-weight: bold;
        margin-top: 5px;
        margin-left: -160px;
        margin-bottom: 20px;
      }
    }
    .inp {
      position: relative;
      margin: auto;
      width: 100%;
      max-width: 280px;
      border-radius: 3px;
      overflow: hidden;

      .label {
        position: absolute;
        top: 20px;
        left: 5px;
        margin-top: -50px;
        font-size: 16px;
        font-weight: bolder;
        color: white;
        transform-origin: 0 0;
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease;
        pointer-events: none;
      }
      .focus-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left;
      }
      input {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        border: 0;
        font-family: inherit;
        padding: 16px 12px 0 12px;
        height: 56px;
        font-size: 16px;
        background-color: lightgrey;
        font-weight: 400;
        transition: all 0.15s ease;
        &:hover {
          background: rgb(151, 151, 151);
        }
        &:focus {
          outline: none;

          + .label {
            transform: scale(0.75);
            + .focus-bg {
              transform: scaleX(1);
              transition: all 0.1s ease;
            }
          }
        }
      }
      .PencilIcon {
        font-size: 1rem;
      }
    }
    .PostedNote {
      display: flex;
      flex-direction: column;
      width: 330px;
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 20px;
      margin-bottom: 30px;
      padding-bottom: 20px;
      height: auto;
      background-color: #61c3d4;
      border: 1px solid lightgrey;
      color: white;
      font-weight: bold;
    }
    .EditTrashIcon {
      display: flex;
      flex-direction: row;
      margin-left: 80%;
      margin-bottom: -10px;

      .TrashIcon {
        margin: 5px;
      }
      .EditIcon {
        margin: 5px;
      }
    }
  }

  //Homepage Animation
  .HomeAnimation {
    padding-top: 10px;
    h1 {
      color: #659b6c;
      font-size: 3.5rem;
      font-weight: 400;
      margin-top: 0;
      position: absolute;
      right: 90px;
      top: 90px;
      padding-bottom: 2px;
      letter-spacing: 5px;
    }
    h3 {
      color: #659b6c;
      font-size: 2rem;
      font-weight: 400;
      margin-top: 0;
      position: absolute;
      right: 100px;
      width: 200px;
      bottom: 110px;
      opacity: 0.8;
  
    }
  }

  // Meditation Page Animation
  .MeditationAnimation {
    padding-left: 20px;
    h1 {
      color: #59865f;
      font-size: 3rem;
      font-weight: 500;
      margin-top: 0;
      position: absolute;
      right: 120px;
      top: 100px;
      padding-bottom: 2px;
    }
    h3 {
      color: #659b6c;
      font-size: 1.6rem;
      font-weight: 400;
      margin: 0;
      padding-top: 0px;
      position: absolute;
      right: 70px;
      width: 200px;
      bottom: -25px;
      opacity: 0.8;
      line-height: 30px;
    }
    .Separate{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 70px;
      border-bottom: 4px solid #80c289;
      padding-bottom: 25px;
    }
    h2 {
      color: #659b6c;
      font-size: 2rem;
      font-weight: 400;
      margin: 0;
      position: absolute;
      right: 90px;
      width: 200px;
      top: 145px;
    }
    #timer {
      left: 90px;
      margin-top: 10px;
      padding-top: 20px;
      font-size: 3rem;
      font-weight: 500;
    }
    .Home {
      margin-left: 200px;
      font-size: 2.5rem;
      opacity: 0.8;
      margin-bottom: 40px;
    }
  }

  // Login Page
  .Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 812px;

    .LoginForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      align-items: center;
      width: 275px;
      background-color: white;
      padding: 20px;
      margin-bottom: 400px;
      border-radius: 15px;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.226);

      input {
        margin: 7px;
        padding: 10px;
        border: 0;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.137);
        border-radius: 8px;
        outline-color: #fad4d4;
      }
      button {
        margin-top: 10px;
        background-color: #494949; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
      }
      button:active {
        background-color: #f7bfbf;
      }
    }
    .Title {
      color: #4d4580;
      margin: 0 0 20px 0;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 3px;
    }
  }

  // Registration Page
  .RegisterBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 812px;

    .RegisterForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      align-items: center;
      width: 275px;
      background-color: white;
      padding: 20px;
      margin-bottom: 400px;
      border-radius: 15px;
      box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.226);

      input {
        margin: 7px;
        padding: 10px;
        border: 0;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.137);
        border-radius: 8px;
        outline-color: #fad4d4;
      }
      button {
        margin-top: 10px;
        background-color: #fad4d4; /* Green */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 5px;
      }
      button:active {
        background-color: #f7bfbf;
      }
    }
    .Title {
      color: #4d4580;
      margin: 0 0 20px 0;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 3px;
    }
  }
}
