* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.user-profile::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.user-profile {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.more-info-carousel > div {
  font-weight: 300;
}

.user-card-container {
  display: grid;
  min-height: 0;
  min-width: 0;
  justify-items: center;
} 

.keen-tinder-card {
  grid-area: 1 / 1 / 2 / 2;
  overflow: hidden;
  min-width: 0;
}
