body {
  background-color: lightblue;
  /* background-color: #0d0005; */
  /* background-image: url("https://www.transparenttextures.com/patterns/scribble-light.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-color: #0d0005;
background-image: url("https://www.transparenttextures.com/patterns/tileable-wood.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* background-color: #0d0005;
  background-image: url(http://www.transparenttextures.com/patterns/fabric-of-squares.png); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
