body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar-segment {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-logo {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.navbar-logo:hover {
  transform: scale(105%);
}

.home {
  position: fixed;
  top: 0;
  margin-top: 75px;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1613858749327-c09380ae8116?ixlib=rb-1.2.1&ixid=MnwxM[…]90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  color: white;
}

.home h2 {
  position: fixed;
  top: 80%;
  left: 60%;
  transform: translate(-15%, -55%);
  color: white;
  text-shadow: 3px 3px 7px black;
  font-size: 53px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#bee {
  position: fixed;
  top: 25%;
  right: 17%;
}

#bee:hover {
  transform: scale(103%);
}

/* .home h2 {
  overflow: hidden;
  display: inline-block;
}

.home h2::before,
.home h2::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
.home h2::before {
  background-color: olivedrab;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.home h2::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: orange;
}

.home h2:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
.home h2:hover::after {
  transform: translate3d(0, 0, 0);
}

.home h2 span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.home h2:hover span {
  transform: translate3d(-200%, 0, 0);
} */

.logged-in {
  font-size: 17px !important;
}

.dropdown-nav {
  font-size: 17px !important;
}

.profile-header {
  color: white !important;
  text-shadow: 2px 2px 2px black !important;
  font-family: Paytone One !important;
  font-size: 32px;
}

.avatar-header {
color: white; 
text-shadow: 2px 2px 2px #325036;
font-family: Paytone One !important;
font-size: 30px;
}

.wishlist-title {
  color: white !important;
  text-shadow: 2px 2px 2px black !important;
  font-family: Paytone One !important;
  font-size: 32px;
}