@import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");

@import "components/styles/variables.scss";
// @import "styles/reset.scss";

@import "components/styles/typography.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  // background-color: $black;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}