 #likes:hover {
 transform: scaleX(103%);
 }

 #follow:hover {
 transform: scaleX(103%);
 }

 #message:hover {
 transform: scaleX(103%);
 }

 .newsfeed-title {
   font-family: Paytone One !important;
   font-size: 26px !important;
 }