.rectangle-button {
  width: 300px;
  height: 100px;
  background-color: #ffff00;
  color: #000000;
  border: 8px solid #000000;
  border-radius: 5px;
  font-size: 30px;
  font-family: "Pixelify Sans", sans-serif;
  margin: 10px;
  cursor: pointer;
}

.rectangle-button:hover {
  background-color: #e0e000;
}

.score-box {
  background-color: #ffff00;
  color: #000000;
  border: 8px solid #000000;
  border-radius: 5px; /* Add rounded corners */
  width: 800px;
  padding: 40px;
  font-family: "YourFontFamily", sans-serif;
  font-size: 18px;
  text-align: center;
}

.score-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 140px;
  gap: 5px;
}

.score-column {
  width: 30%;
}

.score-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-name {
  /* width: 50%; */
  text-align: left;
}

.player-score {
  /* width: 40%; */
  text-align: right;
}

.div-style {
  background-color: purple;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
