.container {
margin-top: 20px;
}

.title {
font-size: 100px;
display: flex;
justify-content: center;
}

.final-score {
  display: flex;
justify-content: center;
}

.on {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.completing {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.myForm {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-left: 42px;
}

.myForm input {
  width: 84%;
  padding: 10px;
  margin-bottom: 10px;
}

.myForm button {
  width: 92%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 4px;
}

.myForm button:hover {
  background-color: blue;
}

.name {
  font-size: 25px;
  font-weight: bold;
}

.text {
  width: 20px;
}