.top-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-page-container {
  padding-left: 96px;
  display: flex;
  justify-content: center;
}

.top-page-container:has(.des-container) {
  padding-right: 190px;
}

.mute-button-container {
  display: flex;
  height: 96px;
  width: 96px;
}

.top-page {
  padding-right: 115px;
}

.logo {
  display: flex;
margin-right: 300px;
width: 350px;
height: 350px;
}

.quiz {
height: 200px;
}