.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.center-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height : 20%;
}

.instruction-image {
  margin-bottom: 100px;
}

.instruction-container {
  width: 600px; /* Adjust the width as needed */
  border: 10px solid black;
  text-align: center;
  padding: 100px;
  margin-top: 20px; /* Adjust the margin as needed */
  height: 300px;
  background-color: yellow;
}

.how-to-play {
  font-size: larger;
  font-weight: bold;
}