

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  background: linear-gradient(to right, #9c0fbb, #770890);
}

.game {
  width: 50%;
  height: 80%;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  box-sizing: border-box;
}




.logo {
  width: 400px;
}

.round {
  font-size: 30px;
}

.questions {
  font-size: 40px;
}

.answers {
  font-size: 30px;
}

.buttons {
  font-size: 30px;
  border: 3px black solid; 
  margin-bottom: 0.5em;
  background-color: yellow;
}

.buttons:hover {
  border: 2px yellow solid;
  background-color: yellow;
}


.lives {
  font-size: 30px;
}

.score {
  font-size: 30px;
}

.hint {
  font-size: 20px;
}

.h-button {
  font-size: 30px;
}

.s-button {
  font-size: 30px;
}

.fifty-fifty-button {
  font-size: 30px;
}

.switch-button {
  font-size: 30px;
}

.dude {
  width: 200px;
  
}

.dude2 {
  width: 200px;
  
}

.dude3 {
  width: 170px;
  
}

.timer {
  color: red;
  font-size: 40px;
}
