@import './partials/mixins';
@import './partials/variables';

@import '~mdb-ui-kit/css/mdb.min.css';

#expenses-page {
  height: 100vh;
  background-color:rgb(242, 235, 235);
  transition: all .4s ease-in;
    
  #expense-table {
    max-height: 50vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 1%;
    border: solid;
    border-width: 2px 2px 10px 3px;
    border-color: $OrangePeel;
  }
  
  .textalign {
    text-align: center;
    width: 100%;
    font-weight: bolder;
  }
  
    .disappear {
    display: none;
    transition: all .4s ease-in;
  }
  #input-card {
    transition: all .4s ease-in;
    position: absolute;
    left: 25vw;
    top: 40vh;
    width: 50vw;
    z-index: 5;
  }

  .blur {
    position: fixed;
    transition: all .4s ease-in;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.728);
    z-index: 0;
  }

  #graph-thumbnail {
    width: 100%;
    border-radius: 8px;
  }

  #add-expense {
    border-radius: 5px;
    border-style: none;
    transform: scale(0.9);
    &:hover {
      border: solid;
      transition: all .3s ease-in;
      transform: scaleX(1);
      opacity: 1;
    }
  }
}
  
