@import './partials/mixins';
@import './partials/variables';

@import '~mdb-ui-kit/css/mdb.min.css';

#expense-table {
  max-height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.textalign {
  text-align: center;
  width: 100%;
  font-weight: bolder;
}

.disappear {
  display: none
}