@import './partials/mixins';
@import './partials/variables';

@import '~mdb-ui-kit/css/mdb.min.css';

#expenses-page {

  height: 100vh;
  background-color:rgb(242, 235, 235);
  
  #expense-table {
    max-height: 900px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 10%;

  }
  
  .textalign {
    text-align: center;
    width: 100%;
    font-weight: bolder;
  }
  
  .disappear {
    display: none;
  }
  
  #input-card {
    position: absolute;
    left: 25vw;
    top: 40vh;
    width: 50vw;
    z-index: 5;
  }
  .blur {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.728);
    z-index: 0;
  }
}
  
