@import './partials/mixins';
@import './partials/variables';

@import '~mdb-ui-kit/css/mdb.min.css';

#expense-table {
  max-height: 300px;
  max-width: 1500px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}