@import './partials/mixins';
@import './partials/variables';

.goal-container {
  @include flexRow;
  height: 100vh;

  table {
    z-index: 3;
  }

  .total-saved {
    color: $OrangePeel;
  }

  .advice {
    color: $OrangePantone;
  }

  .days-until {
    color: $OrangeBlood;
  }
}

#piggy-animation {
  position: absolute;
  opacity: 0.5;
  top: 200px;
  right: 150px;
  z-index: 1;
  transform: scale(2);
  border-radius: 100%;
  width: 26%;
  border: solid;
  border-color: rgb(238,177,39);
}

#progress-circle {
  z-index: 5;
}

//vacation button

html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-vac {
  z-index: 20;
  right: 150px;
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  text-align: center;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }



.button-vac:hover, .button-vac:focus {
  color: #313133;
  transform: translateY(-6px);
}


@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

button {
  all: unset;
  cursor: pointer;
}

.pig-image {
  top: 5px;
  left: 0px;
  position:absolute;
  z-index: 6;
  display: none;
}

.pig-break {
  transform: scale(1.7);
  position: absolute;
  opacity: 1;
  top: 116px;
  left: 170px;
  // display:none;
  z-index: 11;
}

.disappear {
  display: none;
  transition: all .4s ease-in;
}
#switch {
  width: 60%;
}
#switch-right {
  width: 40%;
}

.form-check-input {
  z-index: 10;
}

.track {
  color: $OrangePeel;
}