.amenities-box {
  display: flex;
  flex-direction: row;
}

.amenities-container {
  box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.1);
  padding: 24px;
}

.amenities-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.percentage-circle {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.landord-approval {
  margin: 12px;
  width: 90px;
}

.recommend-friend {
  margin: 12px;
  width: 90px;
}

.reviews-list-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 24px 24px;
  margin: 0 24px 24px;
  border-bottom: solid 1px lightgray;
}

.building-details {
  margin-top: 45px;
}

.building_amenities-image {
  width: 100%;
}

/* remove */
