.drop {
  max-height: 105px !important;
}
.dropdown-default {
  margin-bottom: 350px;
}

.default-view {
  padding-top: 140px;
  padding-bottom: 140px;
}

.bee-default {
  padding-bottom: 280px;
}

.close-button {
  padding-bottom: 280px;
}

/* dashboard wgood morning */
.ui.raised.segment {
  background-image: linear-gradient(180deg, #afda96, #f7f5f6, white);
}

.Board.living {
  overflow: auto;
  max-height: 275px;
  width: 100%;
  height: 275px;
  background-image: url("https://image.shutterstock.com/image-illustration/yellow-wall-empty-room-hardwood-260nw-489461038.jpg");
  background-size: cover;
}

.Board.dining {
  overflow: auto;
  max-height: 275px;
  width: 100%;
  height: 275px;
  background-image: url("https://image.shutterstock.com/image-illustration/yellow-wall-empty-room-hardwood-260nw-489461038.jpg");
  background-size: cover;
}

.Board.bedroom {
  overflow: auto;
  max-height: 275px;
  width: 100%;
  height: 275px;
  background-image: url("https://image.shutterstock.com/image-illustration/yellow-wall-empty-room-hardwood-260nw-489461038.jpg");
  background-size: cover;
}

.Board.office {
  overflow: auto;
  max-height: 275px;
  width: 100%;
  height: 275px;
  background-image: url("https://image.shutterstock.com/image-illustration/yellow-wall-empty-room-hardwood-260nw-489461038.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#room {
  /* background-color: #436648; */
  text-shadow: 2px 2px 2px black;
  background-color: rgba(67, 102, 72, 0.90);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

#room-plant {
  box-shadow: 3px 3px 5px grey;
  /* background: #9dbf98; */
  /* background: white; */
  /* opacity: 0.95; */
  /* background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"); */
}

div.header.room-header {
  height: 10px;
  /* overflow: auto;
  background-color: rgba(57, 91, 61, 0.65);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png") */
}

div.notifications {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  row-gap: 5px;
}

.watered-feedback {
  font-size: 15px !important;
}

.top-label {
  font-size: 22px !important;
  padding-top: 0.7em !important;
  padding-bottom: 0.2em !important;
}

.overdue label {
  color: #db2828 !important;
  font-style: italic !important;
}

.reminder-normal {
  font-size: large;
}

/* Strikethrough for Checkbox */

.strikethrough {
  display: inline-block !important;
  position: relative !important;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1) !important;
  text-decoration: line-through 1.5px black;
}

@keyframes strikethrough {
  from {
    transform: scaleX(0) !important;
  }
  to {
    transform: scaleX(3) !important;
  }
}

h3.ui.header.dash-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: lobster;
  font-size: 22px;
}


div.plant-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5%;
  margin: auto;
  width: 100%;
}

div.plant-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
}

div.plant-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  row-gap: 2px;
}

div.plant-nickname {
  display: flex;
  flex-direction: row;
  min-width: 90px;
  justify-content: center;
}

.ui.progress .bar > .progress {
  right: 0.1em;
  color: black;
}

div.plant-info-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

p.info-desc {
  font-size: 16px;
  margin: 20px;
}

div.plant-info-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  column-gap: 5px;
  /* padding: 20px; */
  margin: auto;
}

span.info-title {
  font-size: 18px;
  margin: 10px;
}

div.ui.card.reminders {
  background-color: rgb(170 206 214 / 77%);
  font-size: x-large;
}

div.header.reminders-title {
  color: white !important;
  text-shadow: 2px 2px 2px black;
  font-family: Paytone One !important;
  font-size: 32px !important;

} 

div.ui.checkbox {
  padding-top: 0.6em;
}

.ui.checkbox label {
  font-size: 20px;
}

span.date {
  font-family: lobster;
  font-size: 17px;
}

div.ui.header.reminders-title {
  font-size: 29px;
  font-family: Paytone One;
}

.reminder-content {
  padding-top: 0px !important;
}

.watering-can {
  padding-bottom: 10px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.Bulb {
  font-family: Paytone One !important;
  font-size: 30px !important;
  color: white !important;
  text-shadow: 2px 2px 2px black !important;
}

.dashboard-title {
  font-family: Paytone One !important;
  font-size: 36px;
}

.add-plant {
 color: white !important;
 text-shadow: 2px 2px 2px black !important;
 font-family: Paytone One !important;
 font-size: 45px;
}

.congrats {
  color: white !important;
 text-shadow: 2px 2px 2px black !important;
 font-family: Lobster !important;
 font-size: 45px;
}

.species-name {
  color: white !important;
  text-shadow: 2px 2px 2px black !important;
  font-family: Lobster !important;
  font-size: 45px;
  margin-bottom: 0px !important;
}

.title-name {
  color: white !important;
  text-shadow: 2px 2px 2px black !important;
  text-decoration: underline;
  font-family: Paytone One !important;
  font-size: 25px;
  margin-bottom: 0px !important;
}

.view-plant {
  width: 90% !important;
  margin: auto !important;
  background-color: rgba(225, 205, 48, 0.70) !important;
  background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png)!important;
  color: white;
  text-shadow: 2px 2px 2px black !important;
}

.nickname {
  font-family: lobster;
  font-size: 32px;
}

.description {
  font-size: 20px;
}

.plant-info {
  
}
