.drop {
  max-height: 105px !important;
}
.dropdown-default {
  margin-bottom: 350px;
}

.default-view {
  padding-top: 140px;
  padding-bottom: 140px;
}

.bee-default {
  padding-bottom: 280px;
}

.close-button {
  padding-bottom: 280px;
}