.info{
  display: flex;
  align-self: center;
  align-items: center;
  margin-top: 0.5em;
}

.box{
  position: relative;
  display:flex;
  border:solid;
  flex-direction: column;
  width: 30vw;
}

.like_btn{
  position: absolute;
  top: 5px;
  right: 5px;
}
