.user-info-container {
  display: flex;
  justify-content: center;
}

.beans-container {
  display: flex;
  flex-direction: column;
}

.user-info-left-container {
  display: flex;
  flex-direction: column;
}

.logo-welcome-container {
  display: flex;
}

