$font-family: "UniNeue", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$white-inactive: #ffffffb4;
$white-active: #ffffffe3;
$black: #000;
$black-active: rgba(0, 0, 0, 0.938);
$black-inactive: rgba(0, 0, 0, 0.787);

$dark-background: #0c1824;
$dark-grey-background: #0e0f0f;
$dark-grey-background-opacity: #0e0f0fef;
$accent: #1DE9B6;
$accent-opacity: #48dafb5b;
$accent-opacity-dark: #48dafb32;
$accent-red: #BA3B61;

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: #54a0ff;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;
