@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
$font-family: "Source Sans Pro", sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$Charcoal: #264653;
$PersianGreen: #2A9D8F;
$OrangePeel: #FFA10A;
$OrangePantone: #FF600A;
$Cerise: #F50062;


//login primary colors
// #ee7724; 
// #d8363a;
// #dd3675;
// #b44593;

$dark-background: #300151;