@import './mixins';
@import './variables';

@import '~mdb-ui-kit/css/mdb.min.css';

.vh-100 {
  background-color: #eee;
}

.background {
  // background-image: url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp")
}

.card {
  border-radius: 15px;
  .Rounded-circle img-fluid {
    width: 100px;
  }
}