.store-navbar {
  display: flex;
  justify-content: space-around;
}

.logo-welcome-container {
  display: flex;
  padding: 1rem;
}

.logout-manage-menu-container {
  display: flex;
  padding: 1rem;
}
