.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(65, 65, 65);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/* .amenities-box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: stretch;
  padding: 0;
}

.BuildingAmenities {
  border: 1px solid rgb(65, 65, 65);
}

.building-details {
  display: flex;
  flex-flow: row;
  flex-direction: row;
}

.building-header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
} */

.favourites-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.amenities-map {
  width: 500px;
  height: 100px;
}
