@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;700&display=swap');

body {
  font-family: 'Be Vietnam', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

/* css for map page starts here */
.map-left {
  flex: 2;
  display: flex;
}

.map-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.feature-buildings {
  flex: 0.7 1;
  overflow-y: scroll;
  width: 100%;
}

.ratings-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* and ends here */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  margin-left: 75px;
}

nav {
  display: flex;
  background-color: #20232a;
  align-items: center;
}

.nav-links {
  width: 100%;
  margin: 15px auto;
  max-width: 1280px;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: flex-end;
  list-style: none;
}

.nav-links li {
  margin: 0px 40px 0px 0px;
}

.favourites-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.favourites-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;
}

.favourites-item {
  width: calc(100% / 3 - 24px);
  margin: 12px;
}

.favourites-header h2 {
  margin: 0;
}

.favourites-image {
  width: 100%;
}

.favourites-content {
  padding: 20px;
}

.favourites-content button{
  margin: 20px;
} 

.amenities-map {
  width: 500px;
  height: 100px;
}

.logo {
  margin-left: 100px;
  height: 85px;
  width: 85px;
}

.logo-img {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}