.main {
  width: 100%;
  max-width: 360px;
  background-color: #0c1408;
  color: #277500;
  font-weight: bold;
  height: 100%;
}
.nested {
  padding-left: 20px;
}
.icon {
  color: #216200;
}
.a {
  font-weight: bold;
}
