.main {
  width: 100%;
  max-width: 360px;
  background-color: #aff08f;
  color: white;
  font-weight: bold;
  height: 100%;
}
.nested {
  padding-left: 20px;
}
.icon {
  color: white;
}
.a {
  font-weight: bold;
  :hover {
    color: hotpink;
  }
}
