.home {
  height: 92vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 2em;
  font-family: "Krub", sans-serif;
  border: 1px solid lightgrey;
  color: #3e363e;
}

.home .home-intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

.home h2 {
  font-size: 90px;
  font-weight: 100;
  text-align: center;
}

.home p {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  max-width: 86%;
}

.logo {
  width: 75%;
}

.home-actions {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 50px;
  font-weight: 100;
}

.home-actions a {
  color: #3e363e;
  text-decoration: none;
  background-color: #3e363e3b;
  width: 15rem;
  height: 13rem;
  border-radius: 0.375rem;
  border: 1px solid lightgray;
  text-align: center;
  padding-top: 20px;
}

.home-actions a:hover {
  background-color: #3e363e5a;
  transition: 0.5s;
}

.home-actions a p {
  font-size: 25px;
  max-width: 100%;
}
