.home-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  font-size: 45px;
  border: 1px solid lightgrey
}

.home-runs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.map-logo {
  height: 100px;
}