@import "styles/variables.scss";


.leftsearch {
  background-color: $black;
  opacity: .6;
  width: 30vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 35vh;
  // margin-bottom: 1vh;
  margin-left: 2vh;
  position:absolute;
  left: 0;
  color: white;
  border-radius: 15px;
}