@import "styles/variables.scss";


.leftsearch {
  background-color: $black;
  opacity: .6;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  margin-bottom: 1.2%;
  margin-left: 2vh;
  position:absolute;
  left: 0;
  bottom: 0;
  padding: 2px;
  overflow: scroll;
  overflow-x: hidden;
  color: white;
  border-radius: 0px 15px 15px 0px;
}