.movies_row {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5x;
}
.movies_row_posters {
  display: flex;
  padding: 20px;
  overflow: hidden;
  overflow-x: auto;
}
.movies_row_posters::-webkit-scrollbar {
  display: none;
}

.movie_poster {
  object-fit: contain;
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 1vw;
  overflow: hidden;
  margin-right: 25px;
  cursor: pointer;
  min-width: 100px;
  height: 200px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
}

.movie_poster:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.movie_poster:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
