.movies_row {
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5x;
}
.movies_row_posters {
  display: flex;
  padding: 20px;
  overflow: hidden;
  overflow: auto;
  overflow-x: auto;
}
.movies_row_posters::-webkit-scrollbar {
  display: none;
}
