@import "styles/variables.scss";


.righttweets {
  background-color: $black;
  opacity: .6;
  width: 21vw;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin-top: 8vh;
  margin-right: 1vh;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  border-radius: 15px;
}