.run, .card {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1em 0;
  border-radius: 140px 0.375rem 0.375rem 140px;
}

.run-image {
  width: auto;
  height: 17rem;
  border-radius: 50%;
}

.run-heading, .run-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.run-desc {
  align-items: flex-end;
}

.run-desc .btn {
  height: 3em;
  width: 10em;
}