.run {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1em 0;
  border-radius: 169px 0.375rem 0.375rem 169px;
  width: 70rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-family: "Krub", sans-serif;
  box-shadow: 0 0 5px lightgrey;
}

.run-image {
  width: auto;
  height: 21rem;
  border-radius: 50%;
}

.run-body {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}

.run-body p {
  margin: 0;
}

.run-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.run-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 9em;
}

.run-desc .list-group-item {
  padding-left: 0;
}

.run-heading .run-id {
  background-color: #d83a01c3;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin: -0.3em 0.5em 0 0;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.2em;
}

.run-heading h3 {
  margin-right: auto;
}

.run-heading .detail-button {
  background-color: #d83a01c3;
  color: white;
  height: 2em;
  border-radius: 0.375rem;
  font-size: 15px;
  font-weight: 500;
  border: none;
}

.run-heading .detail-button:hover {
  cursor: pointer;
  background-color: #3e363e;
  transition: 0.5s;
}

.join-button {
  height: 3em;
  width: 10em;
  background-color: #d83a01c3;
  border: none;
  box-shadow: 0 0 5px lightgrey;
  color: white;
  border-radius: 0.375rem;
  font-weight: 800;
  align-self: flex-end;
}

.join-button:hover {
  font-weight: 800;
  background-color: #d83a01ee;
  transition: 0.5s;
}

.join-button[disabled] {
  background-color: #3e363e64;
  font-weight: 300;
}
