.run, .card {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1em 0;
}

.run-image {
  width: auto;
  height: 15rem;
  padding: 1em;
}

.run-heading, .run-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.run-desc {
  align-items: flex-end;
}

.run-desc .btn {
  height: 3em;
  width: 6em;
}