// .root {
//   display: flex;
// }
// // .appBar {
// //   zIndex: theme.zIndex.drawer + 1,
// //   transition: theme.transitions.create(['width', 'margin'], {
// //     easing: theme.transitions.easing.sharp,
// //     duration: theme.transitions.duration.leavingScreen,
// //   }),
// // }
// // .appBarShift {
// //   margin-left: drawerWidth;
// //   width: calc(100% - ${drawerWidth}px);
// //   transition: theme.transitions.create(['width', 'margin'], {
// //     easing: theme.transitions.easing.sharp,
// //     duration: theme.transitions.duration.enteringScreen,
// //   }),
// // }
// .menuButton {
//   margin-right: 36;
// }
// .hid {
//   display: none;
// }
// .drawer {
//   width: 300px;
//   flex-shrink: 0;
//   white-space: nowrap;
// }
// // .drawerOpen {
// //   width: drawerWidth;
// //   transition: theme.transitions.create('width', {
// //     easing: theme.transitions.easing.sharp;
// //     duration: theme.transitions.duration.enteringScreen;
// //   });
// // }
// // .drawerClose {
// //   transition: theme.transitions.create('width', {
// //     easing: theme.transitions.easing.sharp;
// //     duration: theme.transitions.duration.leavingScreen;
// //   });
// //   overflowX: 'hidden';
// //   width: theme.spacing(7) + 1;
// //   [theme.breakpoints.up('sm')]: {
// //     width: theme.spacing(9) + 1;
// //   }
// // }
// .toolbar {
//   display: "flex";
//   align-items: "center";
//   justify-content: "flex-end";
//   background-color: #94f066;
//   height: 75px;
//   // padding: theme.spacing(0, 1);
//   // necessary for content to be below app bar
//   // ...theme.mixins.toolbar;
// }
// .content {
//   flex-grow: 1;
//   // padding: theme.spacing(3);
// }

.content {
  transition: 300ms;
}

.side-nav.hide {
  transform: translateX(-100%) !important;
}
