@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900");
.goalbox {
  background-image: url("../docs/vacation2.jpg");
  z-index: 2;
  font-weight: bolder;
  color: black;
}
