.exercise {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: red;
    border-radius: 17px;
    border: 2px black solid;
    margin: 15px;
    margin-left: 15px;
  }