.main_page {
  border-bottom: 3px solid black;
}
.sidebar {
  border-bottom: none;
}

.main_section {
  display: flex;
  min-height: 85vh;
  background-color: rgb(190, 90, 90);
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

section.user {
  display: flex;
  padding: 2em;
  border-bottom: 5px solid black;
  margin-left: auto;
  margin-right: auto;
}

section.user img {
  display: flex;
  height: 400px;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3em;
  margin-top: 3em;
}

label.user_name {
  display: flex;
  font-size: 64px;
  border-bottom: 5px solid black;
}

desc {
  display: flex;
  margin-top: 1em;
  width: 500px;
  font-size: 16px;
  word-wrap: break-word;
}

label.location {
  display: flex;
  margin-top: 1em;
  font-size: 20px;
}

label.total_projects {
  display: flex;
  margin-top: 1em;
  font-size: 20px;
}

.user_images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
}

.user_images div {
  display: flex;
  height: 200px;
  width: 300px;
  border: 2px solid black;
  margin: 2em;
}