.main_page {
  display: flex;
  min-height: 85vh;
  background-color: rgb(190, 90, 90);
}

.main_section {
  display: flex;
  min-height: 85vh;
  background-color: rgb(190, 90, 90);
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

label.title{
  display: flex;
  font-size: 100px;
  margin: 1em 0 1em 0;
}

.new_canvas {
  display: flex;
  font-size: 32px;
  width: 300px;
  border: 2px solid black;
  border-radius: 0.5em;
  justify-content: center;
  padding: 1em 0 1em 0;
  margin-bottom: 3em;
  background-color: rgb(170,160,90);
}

div.examples {
  display: flex;
  flex-direction: row;
}

div.examples div{
  display: flex;
  height: 200px;
  width: 300px;
  border: 3px solid black;
  background-color: white;
  margin: 2em;
  justify-content: center;
}

div.examples img{
  display: flex;
  height: 200px;
  width: 300px;
}

div.examples label{
  display: flex;
  position: absolute;
}