.tripContainer {
  display: flex;
  border: solid black 2px;
  width: 80%;
  height:200px;
  margin-top: 70px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #2E3B55;
}