$white: #ffffff;

.venue {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black solid 3px;
  width: 400px;
  height: 400px;
  border-radius: 50px;
  padding-top: 9px;
  background-color: $white;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  &--img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 250px;
    border-radius: 4px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: $white;

    & img {
      border: black solid 2px;
      object-fit: fill;
      height: 100%;
      width: 100%;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  &--name {
    font-style: italic;
    font-weight: bold;
    margin: 5px;
  }
}

.data {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 96%;
  height: 100px;

  &--left{
    height: 50%;
    width: 61%;
    border: black solid 2px;
    border-radius: 4px;
    border-bottom-left-radius: 40px;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 25px;
  }

  &--right {
    display: flex;
    border: black solid 2px;
    border-radius: 4px;
    border-bottom-right-radius: 40px;
    background-color: $white;
    height: 100%;
    width: 28%;
    align-items: center;
    justify-content: center;

    & svg {
      font-size: 40px;
      border-color: solid black 3px;
      color: black;
      padding: 35px;

      &:hover {
        color: white;
      }
      }

    &:hover {
      cursor: pointer;
      background-color: #2E3B55;
    }

   
  }

  &--values {
    font-size: 18px;
    border-bottom: solid rgb(180, 180, 180) 2px;
    width: 90%;
    display: flex;

    &--status {
      font-size: 18px;
    }

    &--reviews {
      border: none;
      font-size: 18px;
    }
  }
}