.nearby-stores-container {
  display: flex;
  flex-direction: column;
}

.nearby-stores-header {
  display: flex;
  justify-content: space-between;
}


.gridList {
  width: 500px;
  height: 450px;
}

.icon {
  color: 'rgba(255, 255, 255, 0.54)';
}