@import './abstracts/variables';
@import './abstracts/mixins';
@import './base/typography';
@import './layout/forms';
@import './layout/_navbar';
@import './layout/tables';
@import './layout/containers';
@import './components/button';
@import './components/chat';
@import './components/meetups';
@import './components/loginUser';
@import './components/_safetySend';
@import './components/_userLogin';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.event {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.event.reminder {
  border-left: 5px solid #60AEBF;
}

.event h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.leaflet-container {
  width: 80%;
  height: 800px;
}

// .App {
//   text-align: center;
// }

