@import './abstracts/variables';
@import './abstracts/mixins';
@import './base/typography';
@import './components/button';
@import './components/chat';
@import './components/meetups';
@import './components/loginUser';
@import './components/_safetySend';
@import './components/_userLogin';
@import './layout/forms';
@import './layout/_navbar';
@import './layout/tables';
@import './layout/containers';
@import './pages/Profile';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

.landing-page {
  height: 1vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.event {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.event.reminder {
  border-left: 5px solid #60AEBF;
}

.event h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

// .App {
//   text-align: center;
// }

.popup-image {
  max-width:100%;
}

.popup-header {
  color: #0e3147;
}

.popup-subh {
  color: #59b9ca;
}

.popup-desc {
  color:#0e3147
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.footer {
  background-color: #092a3c;
    text-align: center;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: #f8f9fa;
}

.about-page {
  display: flex;
  flex-direction: row;
}

.logo {
  max-height: 10px;
  max-width: 10px;
}