.step-and-description{
  display: flex;
  text-align: center;
  font-size: x-large;
}

.step {
  top: 0;
}

.description {

}

.video2 {
  height: 20rem;
  width: 30rem;
}

.step-tracker {

}

.admin-form {

}

.all-resources {


}

.article-link{
  text-decoration: none;
}