html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none;
  background: #f0f0f0;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.c {
  position: absolute;
  max-width: 750px;
  max-height: 500px;
  width: 30vw;
  height: 20vw;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
  border-radius: 15px;
  border-style: solid;
  border-width: .5em;
  border-color: black;
  padding: .5em;
}

.front {
  background-color: lightpink;

}

.back {
  background-color: lightgreen;
}