.profile-pic {
  height: 300px;
  border-radius: 5px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.profile-header {
  width: 60rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid lightgrey;
  margin: 3em 0;
  padding: 2em;
  border-radius: 5px;
  font-family: 'Krub', sans-serif;
}

.profile-info h1 {
  font-weight: 200;
  font-size: 70px;
}

.profile-info p {
  font-weight: 600;
  font-size: 30px;
}

ul {
  list-style-type: none;
  padding: 0;
}