.profile-pic {
  height: 200px;
  margin: 5%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.profile-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5%;
  border: 1px solid lightgrey;
  margin-top: 5%;
}

ul {
  list-style-type: none;
}